.detailblock{
    .artikelwrapper{
        .artsidecontainer { 
            font-size: .9rem;
            line-height: 1.2rem;
        }
    }
    .granska_rubrik{
      border-bottom:10px solid $black;
      color: $orange;
      font-weight:100;
      padding-bottom:.5rem;
    }
    .arrRubrikblock{
      margin-top:3rem;
      margin-bottom:1rem;
      h2{
        font-size:1.3rem;
        margin-left:.5rem;
      }
    }
}

.kk_aj_granskablock{
    background-color: $snow;
    padding:1rem;
    #kk_aj_arrangorstod{
        background-color:$white;
    }
    .errorborder{
        border:1px solid $alert-color;
    }
   
}
.top-bar-section .dropdown li ul li{
    width:300px;
    a{  
        max-width: 300px;
        white-space:normal;
        overflow-wrap: break-word!important;
        word-wrap:break-word!important;      
    }
 }
